[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
textual-canvas = "*"
black = "*"

[dev-packages]
pylint = "*"
mypy = "*"
twine = "*"
black = "*"
pre-commit = "*"
build = "*"

[requires]
python_version = "3.10"
